@namespace StackNServe.Pages
@page "/New_Game"

@using StackNServe.Pages
@using StackNServe.Shared
@using StackNServe.Services

@using System.Text.Json;

@inject HttpClient Http
@inject GlobalStringListService StringListService
@inject IJSRuntime JSRuntime

<div class="Home_Page">
    @if (isGameStarting)
    {
        <div class="Player_Name_Input">
            <h3 class="Player_Name_Label">Please enter your name to start the game:</h3>
            <input type="text" class="Player_Name_Field" @bind="playerName" placeholder="Enter your name" />
            <button class="Player_Name_Button" @onclick="validate_and_start_game">Start Game</button>
            @if (is_input_valid)
            {
                <p class="error-message">@error_message</p>
            }
        </div>
    }
    else if (isEnded)
    {
        <h1 class="Time_Elapsed_Message">Your time finished!</h1>

        <br>
        <h2 class="Time_Elapsed_Score">Your score was:@current_player_score</h2>

        <br>
        <h3 class="Time_Elapsed_Instruction">Click on the button below to play again</h3>
        <div class="Play_Again_Button">
        <div class="Play_Again" @onclick="reload_game">
            <h1 class="Play_Again_Heading">PLAY AGAIN</h1>
        </div>
    </div>
    }
    else
    {
        <div class="Select_Buttons">
            <Bun_Select />
            <br>
            <Patty_Select />
            <br>
            <Toppings_Select />
            <br>
            <Sauces_Select />
        </div>
        <div id="notification" class="notification" style="display: none;">
        @message
    </div>
        <Main_Page_Header />
        <div class="Timer_Divison">
            <CountdownTimer InitialTimeInSeconds="@initial_timer_time" OnTimerFinished="handle_timer_finished"
                ShowResetButton="false" />
        </div>
        <div class="Cooking_Table_Division">
        <div class="burger-container">
            @foreach (var ingredient in StringListService.StringList)
                {
                    <div class="@ingredient.ToLower().Replace(" ", "-")"></div>
                }
            </div>
            <Cooking_Table />
        </div>

        <div class="Order_Division">
            <Order Order_List="@current_order_list" Order_Price="@current_order_price" />
        </div>
        <div class="Skip_Play_Buttons">
            <Skip OnSkip="player_skip" />
            <Submit OnSubmit="CheckList" />
        </div>

        <div class="Score_Board_Divison">
        <Score_Board current_score="current_player_score" />
    </div>
    }
</div>

@code
{
    [Parameter]
    public bool isEnded { get; set; } = false;
    [Parameter]
    public bool isGameStarting { get; set; } = true;
    public string playerName = "";
    public string message = "Hello World!";
    public int makingCost = 0;

    // New Player
    public int current_player_id = 0;
    public async Task create_player()
    {
        var post_data = new Dictionary<string, string>();
        post_data["player_name"] = playerName;
        var response = await Http.PostAsJsonAsync("createPlayer", post_data);
        var responseContent = await response.Content.ReadAsStringAsync();

        var playerData = JsonSerializer.Deserialize<Dictionary<string, int>>(responseContent);
        current_player_id = playerData["player_id"];

        StateHasChanged();
    }
    public bool is_input_valid = false;
    public string error_message = "";
    public async Task validate_and_start_game()
    {
        if (string.IsNullOrWhiteSpace(playerName))
        {
            error_message = "Name cannot be empty!";
            is_input_valid = true;
        }
        else if (playerName.Any(c => !char.IsLetterOrDigit(c)))
        {
            error_message = "Name can only contain letters and numbers!";
            is_input_valid = true;
        }
        else if (playerName.Contains(" "))
        {
            error_message = "Name cannot contain spaces!";
            is_input_valid = true;
        }
        else if(!await check_unique_name())
        {
            error_message = "Name already exists!";
            is_input_valid = true;
        }
        else
        {
            is_input_valid = false;
            start_game();
        }
    
    }
    private async Task<bool> check_unique_name()
    {
        Dictionary<string, string> post_data = new Dictionary<string, string>();
        post_data["player_name"] = playerName;
        var response = await Http.PostAsJsonAsync("checkUniqueName", post_data);
        var responseContent = await response.Content.ReadAsStringAsync();
        return responseContent == "true";
    }
    public int current_player_score { get; set; } = 0;
    public async Task fetch_player_score()
    {
        Dictionary<string, int> post_data = new Dictionary<string, int>();
        post_data["player_id"] = current_player_id;
        var response = await Http.PostAsJsonAsync("fetchScore", post_data);
        var scoreString = await response.Content.ReadAsStringAsync();
        current_player_score = int.Parse(scoreString);
        StateHasChanged();
    }

    private async Task update_player_score()
    {
        Dictionary<string, int> post_data = new Dictionary<string, int>();
        post_data["player_id"] = current_player_id;
        post_data["score"] = current_player_score;
        var response = await Http.PostAsJsonAsync("updateScore", post_data);
    }

    // New Order
    private async Task update_order()
    {
        await fetch_order_list();
        await fetch_order_price();
        StateHasChanged();
    }
    public int current_order_price = 0;
    public async Task fetch_order_price()
    {
        string response = await Http.GetStringAsync("orderPrice");
        current_order_price = int.Parse(response);
        Console.WriteLine(current_order_price);
    }
    public List<string> current_order_list = new List<string>();
    public async Task fetch_order_list()
    {
        string response = await Http.GetStringAsync("orderList");
        current_order_list = response.Split(',').ToList();

        for (int i = 0; i < current_order_list.Count; i++)
        {
            current_order_list[i] = current_order_list[i].Replace("\"", "").Trim();
        }
        current_order_list[0] = current_order_list[0].Substring(1).Trim();
        current_order_list[current_order_list.Count - 1] = current_order_list[current_order_list.Count - 1].Substring(0,
        current_order_list[current_order_list.Count - 1].Length - 1).Trim();

        Console.WriteLine(current_order_list);
    }

    public int initial_timer_time = 120;
    public void handle_timer_finished()
    {
        isEnded = true;
        Console.WriteLine("Timer Finished");
    }
    public async Task reload_game()
    {
        if (isEnded)
        {
            isEnded = false;
            isGameStarting = true;
        }
    }
    public async Task player_skip()
    {
        current_player_score -= 10;
        await update_player_score();
        StringListService.ClearList();
        await update_order();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        StringListService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StringListService.OnChange -= StateHasChanged;
    }

    public async Task start_game()
    {
        isGameStarting = false;
        await create_player();
        await fetch_player_score();
        await update_order();
    }

    public void CheckList()
    {
        //Compare the Elements in the two lists.
        //If they are the same, add the price to the player's balance
        //Calculate the making cost of the burger
        makingCost = 0;

        if (StringListService.StringList.Count == 0)
        {
            message = "No Order!";
            show_notification();
            return;
        }

        foreach (var item in StringListService.StringList)
        {
            if (item == "Bun Bottom") makingCost += 0;
            else if (item == "Plain Bun") makingCost += 10;
            else if (item == "Sesame Bun") makingCost += 12;
            else if (item == "Garlic Bun") makingCost += 20;
            else if (item == "Parmesan Bun") makingCost += 25;
            else if (item == "Veggie Patty") makingCost += 15;
            else if (item == "Chicken Patty") makingCost += 20;
            else if (item == "Fish Patty") makingCost += 25;
            else if (item == "Portobello Mushroom Patty") makingCost += 18;
            else if (item == "Avocado") makingCost += 8;
            else if (item == "Bacon") makingCost += 7;
            else if (item == "Cheese") makingCost += 5;
            else if (item == "Egg") makingCost += 4;
            else if (item == "Jalapenos") makingCost += 6;
            else if (item == "Lettuce") makingCost += 3;
            else if (item == "Onion") makingCost += 4;
            else if (item == "Pickles") makingCost += 2;
            else if (item == "Tomato") makingCost += 5;
            else if (item == "Aioli") makingCost += 5;
            else if (item == "BBQ Sauce") makingCost += 5;
            else if (item == "Hot Sauce") makingCost += 5;
            else if (item == "Ketchup") makingCost += 5;
            else if (item == "Mayo") makingCost += 5;
            else if (item == "Mustard") makingCost += 5;
            else if (item == "Ranch") makingCost += 5;
            else makingCost += 0;
        }
        current_player_score -= makingCost;
        update_player_score();
        bool truth = true;
        // Print the current order list
        Console.WriteLine("Current Order List:");
        foreach (var item in current_order_list)
        {
            Console.WriteLine(item);
        }
        Console.WriteLine("Your Order List:");
        foreach (var item in StringListService.StringList)
        {
            Console.WriteLine(item);
        }
        foreach (var item in current_order_list)
        {
            if (StringListService.StringList.Contains(item))
            {
                Console.WriteLine("You passed the order for " + item);
                continue;
            }
            else
            {
                Console.WriteLine("You failed the order, it was:" + item);
                truth = false;
                break;
            }
        }
        if (current_order_list.Count + 1 != StringListService.StringList.Count)
        {
            truth = false;
        }
        //Check the first element of the list
        if ("Bun Bottom" != StringListService.StringList[0])
        {
            current_player_score -= 10;
            update_player_score();
            truth = false;
        }
        if (truth)
        {
            message = "Perfect Order!";
            show_notification();
            current_player_score += current_order_price;
            update_player_score();
        }
        else
        {
            message = "Wrong Order!";
            show_notification();
        }

        StringListService.ClearList();
        update_order();
        StateHasChanged();
    }
    public async Task show_notification()
    {
        await JSRuntime.InvokeVoidAsync("showNotification");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeNotification");
        }
    }
}

<script>
    function initializeNotification() {
        window.showNotification = function () {
            var notification = document.getElementById('notification');
            notification.style.display = 'block';
            setTimeout(function () {
                notification.style.display = 'none';
            }, 5000);
        }
    }
</script>